body {
    background-color: blueviolet;
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 30vh auto min-content;
    grid-template-areas: 
    "navigation" 
    "header"                    
    "content"                   
    "footer";                    
  
}

h1 {
    font-family: "Pacifico",cursive;
    color: firebrick;
    background-color: slateblue;

   
}
h2 {
    color: rosybrown
}

#navigation {
    background-color: darkviolet;
    grid-area: navigation;
    position: sticky;
    top: 0;
}
@media (min-width: 750px){
        body {
        grid-template-columns: 15% auto;
        grid-template-rows: 40vh auto min-content;
        grid-template-areas: 
        "navigation header"
        "navigation content"
        "navigation footer";
    }
}
    #navigation > ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        
    }
    #navigation > ul > li {
        display: inline;
        margin: 10px;
        position: relative;
    } 
    #header {
        grid-area: header;
        background-color: rgb(219, 60, 153);
        
    }

    #content {
        background-color: rosybrown;
        padding: 20px;
        grid-area: content;
    }

    #footer {
        background-color: mediumslateblue;
        grid-area: footer;
    }


    img {
        margin: 1em, auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90;
        max-width: 300px;
    }
    .container {position: relative;
    }
    #header > h1{
        background-color: aliceblue;
    }
    #header h1, #header h2 {
        color: #b9ffb9;
        font-family: "Pacifico", cursive;
    }
    #navigation .dropdown{
        display: none;
        left: 0;
        position: absolute;
        top: 15px;
    }

    #navigation a:hover + .dropdown,
    #navigation a + .dropdown:hover{
        display: block;
    }
